{% if module_nova_floating_button_status == '1' %}
<a href="{{ module_nova_floating_button_link }}" target="about:blank"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" style="position: fixed; width: {{ module_nova_floating_button_width }}; height: {{ module_nova_floating_button_height }}; bottom: 48px; right: 48px;" /></a>
{% endif %}